body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f3f5f7;
}

/* NAVBAR */
.navbar {
  width: 100%;
  background: #0f4c81;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-btn {
  background: #ffffff33;
  color: white;
  padding: 8px 15px;
  border-radius: 6px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.nav-btn:hover {
  background: #ffffff55;
}

.nav-btn.red {
  background: #d9534f;
}

.nav-btn.red:hover {
  background: #c9302c;
}

/* BODY */
.container {
  max-width: 450px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 3px 10px #0002;
}

.card {
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  background: #fafafa;
  border: 1px solid #ddd;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 8px 0 15px 0;
  border-radius: 8px;
  border: 1px solid #bbb;
}

button {
  width: 100%;
  padding: 12px;
  background: #0f4c81;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #0c3a63;
}

#msg {
  margin-top: 10px;
  font-weight: bold;
}
